html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img {
    width: 600px;
    outline: 1px solid black;
    cursor: pointer;
}

.headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: -5px;
}

#first, #second, #third, #fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display:flex;
    flex-direction: row;
}

#first {
    background-color: #d8d8d8;
    padding: 10px;
}

#second {
    background-color: #bfbfbf;
    padding: 10px;
}

#third {
    background-color: #a7a7a7;
    padding: 10px;
}

#fourth {
    background-color: #8e8e8e;
    padding: 10px;
}

#imgone_popup, #imgtwo_popup, #imgthree_popup, #imgfour_popup, #imgfive_popup, #imgsix_popup, #imgseven_popup, #imgeight_popup {
    width: 1050px;
    border: 1px solid black;
    background: #e5e5e5;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

#imgone_popup img, #imgtwo_popup img, #imgthree_popup img, #imgfour_popup img, #imgfive_popup img, #imgsix_popup img, #imgseven_popup img, #imgeight_popup img {
    width: 92%;
}

#close {
    cursor: pointer;
}